extends ./common

append style
  link(rel="stylesheet", href="/styles/croppie.css")
  link(rel="stylesheet", href="/styles/admin/addnotification.css")

block main
  div
    big Thêm thông báo mới
    form.mt-4(method="POST", enctype="multipart/form-data", name="addNotiForm")
      .d-flex.align-items-center
        label.col-2(for="nameNoti") Tiêu đề thông báo:
        input#nameNoti.form-control.col.ml-2(type="text", name="nameNoti", placeholder="Tiêu đề thông báo", required)
      .d-flex.mt-2
        label.col-2(for="describePro") Nội dung thông báo:
        textarea#contentNoti.col.ml-2(name="contentNoti", rows="5", required)
      .d-flex.mt-2.align-items-center
        span.col-2 Hình ảnh:
        .d-flex.col.ml-2.justify-content-between
          .img-pro.text-center
            .review-img
            label.btn.btn-light(for="img", role="button") Chọn hình
            input#img.form-control.d-none(type="file", name="img", required, accept=".png,.jpg,.jpeg")     
      .text-right.my-4
        a.btn.btn-light.mr-3(href="/admin/notification", role="button") Hủy
        button#save-btn.btn.btn-success.mr-3(type="button") Lưu

block modal-full
  #modal-crop-img
    #modal-main.d-flex.align-items-center
      #modal-content
        #crop-img
      .text-center.flex-fill
        button#crop-btn.btn.btn-success(type="button") Cắt và lưu

append script
  script(src="/scripts/croppie.js")
  script(src="/scripts/admin/addnotification.js")