extends ./common

append style
  link(rel="stylesheet", href="/styles/admin/index.css")

block main
  .p-3
    .mt-5.mb-2 THỐNG KÊ
    .d-flex
      a.tk-item(href="#")
        .text-info 0
        .text-dark Chờ xác nhận
      a.tk-item(href="#")
        .text-info 0
        .text-dark Chờ lấy hàng
      a.tk-item(href="#")
        .text-info 0
        .text-dark Đã xử lý
      a.tk-item(href="#")
        .text-info 0
        .text-dark Đơn hủy
      a.tk-item(href="#")
        .text-info 0
        .text-dark Sản phẩm ẩn
      a.tk-item(href="#")
        .text-info 0
        .text-dark Sản phẩm hết hàng
      a.tk-item(href="#")
        .text-info 0
        .text-dark Đang vận chuyển
