extends ./common

block title-form
  h1.mb-0.ml-2 Sign up

block content
  #form-area.py-4
    if (errorTexts)
      each err in errorTexts
        .alert.alert-danger.alert-dismissible.fade.show.mx-auto(role='alert', style="max-width: 400px")
          span= err
          button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') &times;
    #form.mx-auto
      #title-form.d-flex.align-items-center.justify-content-between
        h4#exampleModalLabel-dangky.modal-title Đăng ký
        a(href="/login").text-danger Đăng nhập
      form(action="/login/register", method="post")
        input(type="hidden", name="_csrf", value=csrfToken)
        .form-group
          label(for="username-dangky") Tên tài khoản
          input#username-dangky.form-control(type="text", placeholder="Tên tài khoản", name="account", required, data-toggle="tooltip", data-placement="right", title="Chiều dài từ 6 đến 24 kí tự, không chứa các kí tự đặt biệt", value=account?account:'')
        .form-group
          label(for="password-dangky") Mật khẩu
          input#password-dangky.form-control(type="password", placeholder="Mật khẩu", name="password", required, data-toggle="tooltip", data-placement="right", title="Ngắn nhất 6 kí tự")
        .form-group
          label(for="password2-dangky") Nhập lại mật khẩu
          input#password2-dangky.form-control(type="password", placeholder="Nhập lại mật khẩu", name="password2", required)
        .text-right
          button.btn.btn-danger(type='submit') ĐĂNG KÝ

append script
  script
    |$(function () {
    | $('[data-toggle="tooltip"]').tooltip()
    |})