.review-img {
  width: 100px;
  height: 100px;
  background-color: black;
  margin-bottom: 5px;
}

#modal-crop-img {
  width:100%; 
  height: 100%;
  position: fixed; 
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  background-color: #9999;
}

#modal-main {
  width: 500px;
  height: 350px;
  margin: 100px auto;
  background-color: white;
  padding: 10px;
  border-radius: 2%;
}

#modal-content {
  height: 100%;
  width: 580px;
}

#modal-main button {
  width: 100px;
}