.nav-pro-item {
  margin: 0 15px;
  color: white;
}

.nav-pro-item:hover {
  text-decoration: none;
  color: coral;
}

.nav-pro-active {
  border-bottom: 2px solid coral;
  color: coral;
}

.name-pro {
  max-width: 200px;
}

#nav {
  border-bottom: 1px solid white;
}

.span-br {
  display: block;
}