#main-cart-title {
  position: relative;
  height: 56px;
  margin-bottom: 40px;
}

#main-cart-title h1 {
  color: white;
  background-color: rgb(238, 77, 45);
  padding: 10px 20px;
  margin: auto;
  border-radius: 10px;
  user-select: none;
  font-weight: 500;
  font-size: 30px;
  display: inline-block;
  position: absolute;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

#main-cart-title hr{
  position: absolute;
  left: 0;
  top: 28px;
  width: 100%;
  margin: 0;
}

.cart-checkbox {
  padding-left: 2rem !important;
  padding-right: 0 !important;
}

.cart-name-product > a {
  color: rgba(0,0,0,.8);
}

.cart-name-product > a:hover {
  text-decoration: none;
}

.cart-product-img {
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}

.cart-product-content {
  margin-left: 5px;
  display: inline-block;
}

.table thead th{
  border-bottom: none !important;
}

.cart-price {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 30px;
}

#cart-muahang {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: #dee2e6;
}
