.carousel-inner img {
  width: 100%;
  height: auto;
}

#main-category-title b, #main-product-list-title b {
  color: rgba(0,0,0,.54);
}

.category {
  border: 1px solid rgba(0,0,0,.05);
  transition: all .3s;
}

.category-img img{
  max-width: 100px;
  transition: all .3s;
  cursor: pointer;
}

.category-text {
  color: rgba(0,0,0,.8);
  text-align: center;
}

.category:hover img {
  /* border: 1px solid gray;
  box-shadow: gray 1px 1px 1px; */
  transform: scale(1.05);
}

#main-category-list:hover a {
  text-decoration: none;
}

.product-img img {
  width: 100%;
}

#main-product-list-title a {
  color: rgb(238, 77, 45);
  font-size: 18px;
}

.slider-item {
  height: 315px;
}