*, ::after, ::before {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.row {
  margin: 0;
  padding: 0;
}

#main {
  background-color: #f5f5f5;
}

.carousel-inner img {
  width: 100%;
  height: auto;
}

#main-category-title b, #main-product-list-title b {
  color: rgba(0,0,0,.54);
}

#main-product-list-title {
  border-bottom: 2px solid rgb(238, 77, 45);
}

.category {
  border: 1px solid rgba(0,0,0,.05);
}

.category-img img{
  width: 100px;
}

.category-text {
  color: rgba(0,0,0,.8);
}

.category:hover {
  border: 1px solid gray;
  box-shadow: gray 1px 1px 1px;
}

#main-category-list:hover a {
  text-decoration: none;
}

.product-same {
  background-color: rgb(238, 77, 45);
  z-index: -1;
  opacity: 0;
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
}

#main-product-list-list:hover a {
  text-decoration: none;
}

.product-title span {
  color: rgba(0,0,0,.8);
  height: 50px;
	-webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
}

.product {
  position: relative;
  margin: 5px;
  width: 190px;
}

.product:hover .product-same {
  z-index: 10;
  opacity: 1;
  display: block;
}

.product:hover {
  border: 1px solid rgb(238, 77, 45);
}

.product-img img {
  width: 100%;
}

#main-product-list-title a {
  color: rgb(238, 77, 45);
  font-size: 18px;
}