#personal-right {
  background-color: white;
  padding: 20px;
  color: #555;
  width: 100%;
  box-shadow: #DDDD 2px 2px 2px;
}

#personnal-right-top div:first-child {
  font-size: 20px;
  font-weight: 600;
}

#personnal-right-top {
  border-bottom: 1px solid #DDDD;
  padding-bottom: 15px;
}

#form-right-img {
  width: 100px;
  height: 100px;
  margin: 20px 0;
  /* border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer; */
}

#form-right-img > img {
  width: 100%;
  border-radius: 50%;
}

.form-group > label {
  display: inline-block;
  text-align: right;
  width: 20%;
  margin-right: 15px;
}

.form-group > input {
  width: 80%;
}

.btn-change {
  padding-top: 0;
  padding-bottom: 0;
  height: max-content;
}

#modal-crop-avatar {
  width:100%; 
  height: 100%;
  position: fixed; 
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  background-color: #9999;
}

#modal-main {
  width: 500px;
  height: 350px;
  margin: 100px auto;
  background-color: white;
  padding: 10px;
  border-radius: 2%;
}

#modal-content {
  height: 100%;
  width: 300px;
}

#modal-main button {
  width: 100px;
}

#modal-progress {
  width:100%; 
  height: 100%;
  position: fixed; 
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  background-color: #9999;
}