.product-main {
  background-color: #f5f5f5;
}

.product-img-block {
  width: 100%;
  transition: all .3s;
}

.img-sub-list {
  margin: 5px 0;
}
.img-sub-list .slick-prev {
  left: 5px;
}

.img-sub-list .slick-next {
  right: 5px;
}

.img__sub {
  width: 100%;
  cursor: pointer;
  padding-bottom: 100%;
}

.pro-img {
  padding-bottom: 100%;
}

.img-sub {
  margin: 2px 5px;
}
.img-sub.slick-current {
  outline: 2px solid #f6422e;
}

.product-like {
  border-right: 1px solid #DDDD;
  cursor: pointer;
}

.product-info-like div {
  padding: 2px 15px;
}

.product-main-name {
  font-size: 22px;
}

.product-main-price {
  background-color: #EEEE;
}

.product-main-price > div {
  padding-right: 20px;
}

.product-main-price-cost {
  color: #555;
  font-size: 20px;
}

.product-main-price-current {
  font-size: 30px;
}

.product-select.label {
  min-width: 95px;
}

.product-select-content {
  width: 80%;
}

.product-select-option > div {
  margin-top: 20px;
}

.product-select-content > button {
  margin: 5px;
}

.product-select-content label {
  margin: 5px;
  user-select: none;
}

.product-select-content .btn-outline-dark:hover {
  background-color: white;
  border-color: #d0011b;
  color: #d0011b;
}

.product-selected {
  border-color: #37a519;
  color: #37a519;
}

.product-quantity-input {
  display: inline-block;
  width: 120px;
}

.product-quantity-input input {
  text-align: center;
  border-color: #343a40;
}

.product-detail-title {
  color: #000000de;
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
  background-color: #EEEE;
  margin: 20px 0;
}

.product-detail {
  line-height: 40px;
}

.product-detail-label {
  width: 20%;
  color: rgba(0,0,0,.4);
}

.product-detail-content {
  width: 80%;
}

#selection-style-product > div{
  margin: 20px 0;
}

#alert-add-cart-success {
  padding: 40px 10px;
  text-align: center;
  background-color: #bbb1b1;
  width: fit-content;
  position: fixed;
  top: 40%;
  left: 40%;
}
#input-amount {
  max-width: 90px;
}