.main-same {
  background-color: #f5f5f5;
  padding: 20px 30px;
}

.product-main {
  background-color: white;
  padding: 20px;
}

.product-main-name a{
  font-size: 20px;
  color: #000000de;
}

.product-main-name a:hover {
  color: #000000aa;
  text-decoration: none;
}

.product-main-img {
  height: 10rem;
  width: 10rem;
}

.product-main-img img {
  width: 100%;
}

.product-main-content {
  line-height: 35px;
}

.product-main-price span {
  font-size: 30px;
}



#main-product-same-list-list:hover a {
  text-decoration: none;
}

.product-same-title span {
  color: rgba(0,0,0,.8);
  height: 50px;
	-webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
}

.product-same {
  margin: 5px;
  width: 190px;
}

.product-same:hover {
  border: 1px solid rgb(238, 77, 45);
}

.product-same-img img {
  width: 100%;
}

#main-product-same-list-title a {
  color: rgb(238, 77, 45);
  font-size: 18px;
}

#main-product-same-list-title {
  color: #000000de;
  font-weight: 600;
  font-size: 20px;
}