.product-main {
  background-color: white;
  padding: 20px;
}

.product-main-name h1{
  font-size: 25px;
  line-height: 30px;
}
.product-main-name a {
  color: #000000de;
}
.product-main-name a:hover {
  color: rgb(238, 77, 45);
  text-decoration: none;
}

.product-main-img img {
  width: 100%;
}

.product-main-content {
  line-height: 35px;
}

.product-main-price span {
  font-size: 30px;
}