extends ./common

block style_child
  link(rel="stylesheet", href="/styles/customer/maleProduct.css")

block main
  #main
    #banner
      #baner-img
        img(src="/images/0ce01bc32aa7bd09d0f29b683540a905.jpg", alt="baner")