extends ./personal-common

append style
  link(rel="stylesheet", href="/styles/customer/personal-profile.css")
  style
    |#form-password { max-width: 600px }
    |.form-group > label { width: 35% }

block main-personal
  #personal-right.col-md-8.col-lg-9
    #personnal-right-top
      div Thay đổi mật khẩu
    
    if (successMgs)
      each sMgs in successMgs
        .alert.alert-success.alert-dismissible.fade.show.mx-auto.mt-1(role='alert')
          span= sMgs
          button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') &times;
    if (errorMgs)
      each eMgs in errorMgs
        .alert.alert-danger.alert-dismissible.fade.show.mx-auto.mt-1sss(role='alert')
          span= eMgs
          button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') &times;

    #personnal-right-middle.pt-2
      form#form-password.py-4.text-center.mx-auto(action="/account/password", method="POST", name="profileForm")
        input(type="hidden", name="_csrf", value=csrfToken)
        input(type="hidden", name="_method", value='PUT')
        .form-group.d-flex.align-items-center
          label.mb-0(for='old-pass') Mật khẩu cũ
          input#old-pass.form-control(type='password', name="oldpassword", placeholder="Nhập mật khẩu cũ", required)
        .form-group.d-flex.align-items-center
          label.mb-0(for='new-pass') Mật khẩu mới
          input#new-pass.form-control(type='password', name="newpassword", placeholder="Nhập mật khẩu mới" data-toggle="tooltip", data-placement="right", title="Ngắn nhất 6 kí tự", required)
        .form-group.d-flex.align-items-center
          label.mb-0(for='new-pass2') Xác nhận mật khẩu mới
          input#new-pass2.form-control(type='password', name="newpassword2", placeholder="Nhập lại mật khẩu mới", required)
        .text-center.col.mt-2
            button.px-4.btn.btn-danger(type='submit') Lưu

append script
  script
    |$(function () {
    | $('[data-toggle="tooltip"]').tooltip()
    |})