extends ./common

block style_child
  link(rel="stylesheet", href="/styles/customer/personal-common.css")
  block style_sub

block main
  #personal.row
    #personal-left.col-md-4.col-lg-3.d-flex.flex-md-column.justify-content-around.justify-content-md-start
      #personal-left-top.d-flex
        a(href="#").mr-3
          #personal-left-img
            img(src="/images/917385.jpg")
        #personal-left-name
          div
            b Tên user
          a(href="#")
            i.fas.fa-edit
            span Sửa hồ sơ
      #personal-top-middle
        .personal-dropdown
          a#dropdownMenu(href="#")
            i.bg-warning.far.fa-user
            sapn Tài khoản của tôi
          .personal-dropdown-menu
            a.personal-dropdown-item(href='#') Hồ sơ
            a.personal-dropdown-item(href='#') Địa chỉ
            a.personal-dropdown-item(href='#') Mật khẩu
        a(href="#")
          i.bg-info.far.fa-file-alt
          sapn Đơn mua
        a(href="#")
          i.bg-danger.far.fa-bell
          sapn Thông báo
    block main-personal
